<div class="container">
   <div class="d-flex flex-column align-items-center text-center justify-content-center" style="height: 80vh;">
         <strong>本当に退会しますか？</strong><br>
         <p>
         退会すると、会員登録情報や<br>
         これまでの購入履歴が閲覧できなくなります。<br>
         退会する場合は、「退会する」をクリックしてください。<br>
         </p>
      <div class="row">
      <%= link_to "退会しない", my_page_path(current_customer), class: 'btn btn-primary mr-5' %>
      <%= link_to "退会する", customers_withdraw_path(current_customer), method: :PATCH, data: {confirm: "本当に退会してもよろしいですか？"}, class: 'btn btn-danger' %>
      </div>
   </div>
</div>