<h2>商品一覧</h2>


    <table class="table">
        <thead>
            <tr>
                <th>商品ID</th>
                <th>商品名</th>
                <th>税抜価格</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <% @items.each do |item| %>
                    <td><%= item.id %></td>
                    <td><%= item.name %></td>
                    <td><%= item.price %></td>
                <% end %>
            </tr>
        </tbody>
    </table>

<%= paginate @items %>