
<div>
    <div>
        <div class="text-center my-5">
            <h1>About</h1>
        </div>
        <div class="text-center">
            <p><strong>
                ながのCAKEは全国発送可能なケーキ屋さんです。<br>
                お子様からお年寄りの方までお召し上がりいただける様、<br>
                様々なバリエーションをご用意しております。<br>
                また、全国へ発送可能なので「いつ」でも「どこ」でもご注文いただけます。<br>
                ぜひご注文してください。
            </strong></p>
        </div>
    </div>
</div>